/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

.r-h1,
.r-h2,
.r-h3,
.r-ul,
.r-p {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.r-h1,
.r-h2,
.r-h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.r-ul {
  padding: 0;
  list-style: none;
}

.r-a {
  text-decoration: none;
}

.r-img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.r-section {
  padding: 1.5rem 0;
}

.r-section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}
