.about-wrapper {
    background-color: #f3f3f1;
    position: relative;
    padding: 120px 0 180px;
}

.about-section {
   position: relative;
   margin: 65px auto 0;
   max-width: 1180px;
   text-align: center;
}

.grace-avatar {
    position: absolute;
    max-width: 960px;
    left: 58%;
}

.about-title {
    max-width: 500px;
    margin-top: 40px;
}

@media (max-width: 767px) {
   .about-title {
       max-width: 300px;
       margin-top: 0;
   }
}

.about-text {
    max-width: 530px;
}
