
@font-face {
  font-family: 'edoregular';
  src: url('./assets/edo-webfont.woff');
  src: url('./assets/edo-webfont.woff') format('embedded-opentype'),
       url('./assets/edo-webfont.woff') format('woff2'),
       url('./assets/edo-webfont.woff') format('woff'),
       url('./assets/edo-webfont.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --edo-font: 'edoregular', 'sans-serif';
}

/* Main */

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
  overflow-x: hidden;
}

body {
  display: block;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
