@import-normalize;
/* bring in normalize.css styles */

/* rest of app styles */

/* Fonts */
h1 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  word-spacing: 5px;
  color: #111515;
  -webkit-font-smoothing: auto;
}

h2 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #111515;
  letter-spacing: -1.45px;
}

h3 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #111515;
  letter-spacing: -0.8px;
}

h4 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 26px;
  line-height: 46px;
  color: #111515;
  letter-spacing: 0.4px;
}

h5 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 37px;
  color: #111515;
}

h5 a {
  font-weight: 500;
  color: #D9B002;
  text-decoration: none;
}

/* General */
.link {
  position: relative;
  color: #D9B002;
}

.link::before {
  content: " ";
  display: block;
  position: absolute;
  border-bottom: solid 1px #D9B002;
  bottom: -1px;
  width: 0%;
  left: 0%;
  margin: 0 auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.link:hover::before {
  border-bottom: solid 1px #D9B002;
  width: 100%;
  left: 0%;
}