@import-normalize;
/* bring in normalize.css styles */

/* rest of app styles */

/* Fonts */
h1 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  word-spacing: 5px;
  color: #111515;
  -webkit-font-smoothing: auto;
}

h2 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #111515;
  letter-spacing: -1.45px;
}

h3 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #111515;
  letter-spacing: -0.8px;
}

h4 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 26px;
  line-height: 46px;
  color: #111515;
  letter-spacing: 0.4px;
}

h5 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 37px;
  color: #111515;
}

h5 a {
  font-weight: 500;
  color: #f5c15d;
  text-decoration: none;
}