.topbar {
    border-bottom: 1px solid #E6E8E9;
    text-align: right;
    padding: 16px 30px 15px;
}

.social {
    display: inline-block;
}

.social li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    list-style-type: none;
}

.social li:hover {
    opacity: .5;
}

.social a {
    margin-right: 30px;
}

.social-icons {
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) and (max-width: 1130px) {
    .topbar {
        padding: 14px 30px 13px;
    }
}

@media (max-width: 767px) {
    .topbar {
        padding: 12px 20px 11px;
    }

    .social-list {
        margin-right: 18px;
    }

    .social li {
        transform: scale(0.95);
    }
}